/*!
  SIDEBAR
 */

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 225ms;
  max-width: 375px;
}

#main-page,#navPages{
   transition: 225ms;
}

#SidebarOpasity{
height: 100%;
width: 0;
position: fixed;
z-index: 3;
top: 0;
left: 0;
background-color: rgba(0,0,0, 0.5);
overflow-y: auto;
overflow-x: hidden;
text-align: center;

transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/*!
  SIDEBAR END
 */

